<div class="container">
    <div class="d-flex justify-content-start">
        <h4>Editar Fondo de Pension</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="mb-3">
                <label for="apellidos" class="form-label">Apellidos</label>
                <input type="text" class="form-control" id="apellidos" [(ngModel)]="pension.apellidos">
            </div>
            <div class="mb-3">
                <label for="nombres" class="form-label">Nombres</label>
                <input type="text" class="form-control" id="nombres" [(ngModel)]="pension.nombres">
            </div>
            <div class="mb-3">
                <label for="porcentaje" class="form-label">Porcentaje</label>
                <input type="number" min="1" max="100" class="form-control" id="porcentaje" [(ngModel)]="pension.porcentaje">
            </div>
            <button class="btn btn-success" (click)="save()"><i class="fas fa-save"></i> Guardar</button>
        </div>
    </div>
</div>